@import url("https://fonts.googleapis.com/css2?family=Jost&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 5px !important;
  padding: 5px; 
}
::-webkit-scrollbar-track{
  background:lightgray ;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#e84d70 0%, #a337f6 53.09%, #28a7ed 100%); 
  border-radius: 10px;
}
body {
  font-family: "Jost", sans-serif;
  background: #f2f2f2;
}
.goback{
  text-decoration: none;
  color:#373F68;
  font-weight: 700;
  font-size: 20px;
  padding: 0px 0 0 10%;
  margin-top: 3px;
  transition: all 0.5s ease;
  &:hover{
    color: blue;
  }
}
.nav {
  width: 100%;
  .contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10% 40px 10%;
    .rgb {
      cursor: pointer;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: radial-gradient(
        rgba(232, 77, 112, 1),
        rgba(163, 55, 246, 1),
        rgba(40, 167, 237, 1)
      );
    }
    span {
      cursor: pointer;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 34, 68px;
      color: #647196;
    }
  }
}
.number {
  display: flex;
  align-items: center;
  .sonlar {
    opacity: 40%;
    text-align: right;
    width: 153px;
    background: #647196;
    span {
      margin-right: 5px;
      font-size: 24px;
      font-weight: 700;
      color: #ffffff;
      letter-spacing: 2px;
      line-height: 34, 68px;
    }
  }
  .col {
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #3a4374;
    letter-spacing: 2px;
    line-height: 34, 68px;
  }
}
.generation {
  width: 100%;
  .cardlar {
    padding: 10px 10% 50px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      padding: 0 !important;
      cursor: pointer;
      margin-top: 40px;
      width: 255px;
      border-radius: 10px;
      background: #f7f7f7;
      box-shadow: 0px 3px 10px #b4b4b4;
      .rang {
        position: relative;
        width: 100% !important;
        height: 110px;
        background: #ad1fea;
        border-radius: 10px;
        overflow: hidden;

        .hoverr {
          position: absolute;
          top: -200px;
          left: 0;
          width: 40px;
          height: 300px;
          background: #ffffff88;
          transform: skewX(-50deg);
          transition: 0.8s;
          box-shadow: 0px 3px 10px #fffffff8;
        }
        &:hover .hoverr {
          position: absolute;
          top: 100px;
          left: 200px;
          // background: #000;
        }
        span {
          position: absolute;
          left: 20px;
          bottom: 20px;
          font-size: 18px;
          font-weight: bold;
          color: #ffffff;
          letter-spacing: 2px;
          line-height: 34, 68px;
        }
      }
    }
  }
}

.simbol {
  width: 100%;
  .harflar {
    padding: 40px 10% 40px 10%;
    .kard {
      min-width: 180px;

      background: #f7f8fd;
      padding: 5%;
      display: flex;
      align-items: center;
      border-radius: 10px;
    }
    .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .col-4 {
        width: 48%;
        .div {
          margin-top: 40px;
          .title {
            opacity: 75%;
            color: #647196;
            font-weight: 400;
            font-size: 16px;
          }
          .text {
            color: #3a4374;
          }
        }
      }
      .col-6 {
        width: 48%;
        .div2 {
          margin-top: 40px;
          .title {
            opacity: 75%;
            color: #647196;
            font-weight: 400;
            font-size: 16px;
          }
          .text:nth-child(1) {
            margin-top: 10px;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: #3a4374;
          }
          .text:nth-child(2) {
            margin-top: 10px;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #3a4374;
          }
          .text:nth-child(3) {
            margin-top: 10px;
            font-weight: 400;
            font-size: 13px;
            line-height: 19px;
            color: #3a4374;
          }
        }
      }
    }
  }
}
.battonlar {
  width: 100%;
  .flex {
    padding: 40px 10% 40px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    .btnlar {
      // width: 25%;
      display: flex;
      align-items: center;
       flex-direction: column;
       .btn {
         cursor: pointer;
         width: 160px;
         height: 44px;
         border-radius: 10px;
         background: #ad1fea;
         outline: none;
         border: none;
         font-weight: 700;
         font-size: 14px;
         color: #ffffff;
         letter-spacing: 1px;
          margin: 20px 10px 20px 10px;
       }
      &:nth-child(2) .btn{
        background: #4661E6;
      }
      &:nth-child(3) .btn{
        background: #3A4374;
      }
      
      &:nth-child(4) .btn{
        background: #D73737;
      }
       .btn2 {
         cursor: pointer;
         width: 160px;
         height: 44px;
         border-radius: 10px;
         background: #C75AF6;
         outline: none;
         border: none;
         font-weight: 700;
         font-size: 14px;
         color: #ffffff;
         letter-spacing: 1px;
         margin: 20px 10px 20px 10px;
       }
       &:nth-child(2) .btn2{
        background: #7C91F9;
      }
      &:nth-child(3) .btn2{
        background: #656EA3;
      }
      
      &:nth-child(4) .btn2{
        background: #E98888;
      }
       span{
         text-align: center;
         color: #647196;
         opacity: 75%;
         font-size: 16px;
         font-weight: 400;
       }
    }
    
  }
  // aaaaaaa
  .flex2 {
    padding: 0px 10% 80px 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; 
    .btnlar2 {
      // width: 25%;
      display: flex;
      align-items: center;
       flex-direction: column;
       .btn {
         cursor: pointer;
         width: 160px;
         height: 44px;
         border-radius: 10px;
         background: transparent;
         outline: none;
         border: 1px solid #ffffffab;
         font-weight: 700;
         font-size: 14px;
         color: #647196;
         letter-spacing: 1px;
          margin: 20px 10px 20px 10px;
       }
       &:nth-child(2) .btn{
         background: #373F68;
       }
       .btn2 {
         cursor: pointer;
         width: 160px;
         height: 44px;
         border-radius: 10px;
         background: transparent;
         
         outline: none;
         border: 1px solid #ffffffab;
         font-weight: 700;
         font-size: 14px;
         color: #647196;
         letter-spacing: 1px;
         margin: 20px 10px 20px 10px; 
         a{
          color: #647196;
         }
       }
       &:nth-child(2) .btn2{
        background: #373F68; 
      }
       span{
         text-align: center;
         color: #647196;
         opacity: 75%;
         font-size: 16px;
         font-weight: 400;
       }
    }
    
  }
}  
.el{
  width: 100%;
  .elem{
    padding: 20px 10% 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .btnlar {
      // width: 25%;
      display: flex;
      align-items: center;
       flex-direction: column;
        margin-top: 20px;
      .btn{
        display: flex;
      align-items: center;
       flex-direction: column;
       font-weight: bold;
       cursor: pointer;
       border-radius: 10px;
       background: #e0e0e0;
       border: none;
       padding: 14px;
       outline: none;
        
       .icon{
         color:#4661E6 ;
       }
       .number{
         padding-top: 10px;
         font-size: 20px;
         color: #3A4374;
         font-weight: 700;
       }
      }
      &:nth-child(2) .btn{
        background: #CFD7FF;
        font-weight: bold;
      }
      &:nth-child(3) .btn{
        background: #4661E6;
        color: #fff;
        font-weight: bold;
        .number{
          color: #ffffff;
        }
        .icon{
          color: #ffffff;
        }
      }
      }
      .title{
        margin-top: 20px;
        text-align: center;
        color: #647196;
        opacity: 75%;
        font-size: 16px;
        font-weight: 400;
      }
      
  }
}
.frm{
  width: 100%;
  .form{
    padding: 40px 10% 40px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .frmlar{
      display: flex;
    align-items: center;
    flex-direction: column;
    }
    .title{
      margin-top: 15px;
      margin-bottom:10px;
      text-align: center;
      color: #647196;
      opacity: 75%;
      font-size: 16px;
      font-weight: 400;
    }
  }
} 

@media screen and(max-width:500px){
  .goback{
    text-decoration: none;
    color:#373F68;
    font-weight: 700;
    font-size: 20px;
    padding: 0px 0 0 10%;
    margin-top: 3px;
    transition: all 0.5s ease;
    &:hover{
      color: blue;
    }
  }
  .nav {
    width: 100%;
    .contain {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px 10% 40px 10%;
      .rgb {
        cursor: pointer;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: radial-gradient(
          rgba(232, 77, 112, 1),
          rgba(163, 55, 246, 1),
          rgba(40, 167, 237, 1)
        );
      }
      span {
        cursor: pointer;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 34, 68px;
        color: #647196;
      }
    }
  }
  .number {
    display: flex;
    align-items: center;
    .sonlar {
      opacity: 40%;
      text-align: right;
      width: 100px;
      background: #647196;
      span {
        margin-right: 5px;
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 2px;
        line-height: 34, 68px;
      }
    }
    .col {
      text-transform: uppercase;
      margin-left: 30px;
      font-size: 20px;
      font-weight: 700;
      color: #3a4374;
      letter-spacing: 2px;
      line-height: 34, 68px;
    }
  }
  .generation {
    width: 100%;
    .cardlar {
      padding: 10px 10% 50px 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .card {
        cursor: pointer;
        margin-top: 40px;
        width: 240px;
        border-radius: 10px;
        background: #f7f7f7;
        box-shadow: 0px 3px 10px #b4b4b4;
        .rang {
          position: relative;
          width: 100%;
          height: 100px;
          background: #ad1fea;
          border-radius: 10px;
          overflow: hidden;
  
          .hoverr {
            position: absolute;
            top: -200px;
            left: 0;
            width: 40px;
            height: 300px;
            background: #ffffff88;
            transform: skewX(-50deg);
            transition: 0.8s;
            box-shadow: 0px 3px 10px #fffffff8;
          }
          &:hover .hoverr {
            position: absolute;
            top: 100px;
            left: 200px;
            // background: #000;
          }
          span {
            position: absolute;
            left: 20px;
            bottom: 20px;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
            letter-spacing: 2px;
            line-height: 34, 68px;
          }
        }
      }
    }
  }
  
  .simbol {
    width: 100%;
    .harflar {
      padding: 40px 10% 40px 10%;
      .kard {
        min-width: 180px;
  
        background: #f7f8fd;
        padding: 5%;
        display: flex;
        align-items: center;
        border-radius: 10px;
      }
      .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .col-4 {
          width: 100%;
          .div {
            margin-top: 40px;
            .title {
              opacity: 75%;
              color: #647196;
              font-weight: 400;
              font-size: 16px;
            }
            .text {
              color: #3a4374;
            }
          }
        }
        .col-6 {
          width: 100%;
          .div2 {
            margin-top: 40px;
            .title {
              opacity: 75%;
              color: #647196;
              font-weight: 400;
              font-size: 16px;
            }
            .text:nth-child(1) {
              margin-top: 10px;
              font-weight: 400;
              font-size: 16px;
              line-height: 23px;
              color: #3a4374;
            }
            .text:nth-child(2) {
              margin-top: 10px;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #3a4374;
            }
            .text:nth-child(3) {
              margin-top: 10px;
              font-weight: 400;
              font-size: 13px;
              line-height: 19px;
              color: #3a4374;
            }
          }
        }
      }
    }
  }
  .battonlar {
    width: 100%;
    .flex {
      padding: 40px 10% 40px 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; 
      .btnlar {
        // width: 25%;
        display: flex;
        align-items: center;
         flex-direction: column;
         .btn {
           cursor: pointer;
           width: 160px;
           height: 44px;
           border-radius: 10px;
           background: #ad1fea;
           outline: none;
           border: none;
           font-weight: 700;
           font-size: 14px;
           color: #ffffff;
           letter-spacing: 1px;
            margin: 20px 10px 20px 10px;
         }
        &:nth-child(2) .btn{
          background: #4661E6;
        }
        &:nth-child(3) .btn{
          background: #3A4374;
        }
        
        &:nth-child(4) .btn{
          background: #D73737;
        }
         .btn2 {
           cursor: pointer;
           width: 160px;
           height: 44px;
           border-radius: 10px;
           background: #C75AF6;
           outline: none;
           border: none;
           font-weight: 700;
           font-size: 14px;
           color: #ffffff;
           letter-spacing: 1px;
           margin: 20px 10px 20px 10px;
         }
         &:nth-child(2) .btn2{
          background: #7C91F9;
        }
        &:nth-child(3) .btn2{
          background: #656EA3;
        }
        
        &:nth-child(4) .btn2{
          background: #E98888;
        }
         span{
           text-align: center;
           color: #647196;
           opacity: 75%;
           font-size: 16px;
           font-weight: 400;
         }
      }
      
    }
    // aaaaaaa
    .flex2 {
      padding: 0px 10% 80px 10%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap; 
      .btnlar2 {
        // width: 25%;
        display: flex;
        align-items: center;
         flex-direction: column;
         .btn {
           cursor: pointer;
           width: 160px;
           height: 44px;
           border-radius: 10px;
           background: transparent;
           outline: none;
           border: 1px solid #ffffffab;
           font-weight: 700;
           font-size: 14px;
           color: #647196;
           letter-spacing: 1px;
            margin: 20px 10px 20px 10px;
         }
         &:nth-child(2) .btn{
           background: #373F68;
         }
         .btn2 {
           cursor: pointer;
           width: 160px;
           height: 44px;
           border-radius: 10px;
           background: transparent;
           
           outline: none;
           border: 1px solid #ffffffab;
           font-weight: 700;
           font-size: 14px;
           color: #647196;
           letter-spacing: 1px;
           margin: 20px 10px 20px 10px; 
           a{
            color: #647196;
           }
         }
         &:nth-child(2) .btn2{
          background: #373F68; 
        }
         span{
           text-align: center;
           color: #647196;
           opacity: 75%;
           font-size: 16px;
           font-weight: 400;
         }
      }
      
    }
  }  
  .el{
    width: 100%;
    .elem{
      padding: 20px 10% 10px 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .btnlar {
        // width: 25%;
        display: flex;
        align-items: center;
         flex-direction: column;
          margin-top: 20px;
        .btn{
          display: flex;
        align-items: center;
         flex-direction: column;
         font-weight: bold;
         cursor: pointer;
         border-radius: 10px;
         background: #e0e0e0;
         border: none;
         padding: 14px;
         outline: none;
          
         .icon{
           color:#4661E6 ;
         }
         .number{
           padding-top: 10px;
           font-size: 20px;
           color: #3A4374;
           font-weight: 700;
         }
        }
        &:nth-child(2) .btn{
          background: #CFD7FF;
          font-weight: bold;
        }
        &:nth-child(3) .btn{
          background: #4661E6;
          color: #fff;
          font-weight: bold;
          .number{
            color: #ffffff;
          }
          .icon{
            color: #ffffff;
          }
        }
        }
        .title{
          margin-top: 20px;
          text-align: center;
          color: #647196;
          opacity: 75%;
          font-size: 16px;
          font-weight: 400;
        }
        
    }
  }
  .frm{
    width: 100%;
    margin-bottom: 300px;
    .form{
      padding: 40px 10% 40px 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .frmlar{
        display: flex;
      align-items: center;
      flex-direction: column;
      }
      .title{
        margin-top: 15px;
        margin-bottom:10px;
        text-align: center;
        color: #647196;
        opacity: 75%;
        font-size: 16px;
        font-weight: 400;
      }
    }
  } 
}
@media screen and(max-width:290px){
  .goback{
    text-decoration: none;
    color:#373F68;
    font-weight: 700;
    font-size: 20px;
    padding: 0px 0 0 10%;
    margin-top: 3px;
    transition: all 0.5s ease;
    &:hover{
      color: blue;
    }
  }
  .nav {
    width: 100%;
    .contain {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 40px 10% 40px 10%;
      .rgb {
        margin-bottom: 20px;
        cursor: pointer;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: radial-gradient(
          rgba(232, 77, 112, 1),
          rgba(163, 55, 246, 1),
          rgba(40, 167, 237, 1)
        );
      }
      span {
        cursor: pointer;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 34, 68px;
        color: #647196;
      }
    }
  }
  .number {
    display: flex;
    align-items: center;
    .sonlar {
      opacity: 40%;
      text-align: right;
      width: 100px;
      background: #647196;
      span {
        margin-right: 5px;
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
        letter-spacing: 2px;
        line-height: 34, 68px;
      }
    }
    .col {
      text-transform: uppercase;
      margin-left: 30px;
      font-size: 20px;
      font-weight: 700;
      color: #3a4374;
      letter-spacing: 2px;
      line-height: 34, 68px;
    }
  }
  .generation {
    width: 100%;
    .cardlar {
      padding: 10px 10% 50px 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .card {
        cursor: pointer;
        margin-top: 40px;
        width: 240px;
        border-radius: 10px;
        background: #f7f7f7;
        box-shadow: 0px 3px 10px #b4b4b4;
        .rang {
          position: relative;
          width: 100%;
          height: 100px;
          background: #ad1fea;
          border-radius: 10px;
          overflow: hidden;
  
          .hoverr {
            position: absolute;
            top: -200px;
            left: 0;
            width: 40px;
            height: 300px;
            background: #ffffff88;
            transform: skewX(-50deg);
            transition: 0.8s;
            box-shadow: 0px 3px 10px #fffffff8;
          }
          &:hover .hoverr {
            position: absolute;
            top: 100px;
            left: 200px;
            // background: #000;
          }
          span {
            position: absolute;
            left: 20px;
            bottom: 20px;
            font-size: 16px;
            font-weight: bold;
            color: #ffffff;
            letter-spacing: 2px;
            line-height: 34, 68px;
          }
        }
      }
    }
  }
  
  .simbol {
    width: 100%;
    .harflar {
      padding: 40px 10% 40px 10%;
      .kard {
        min-width: 180px;
  
        background: #f7f8fd;
        padding: 5%;
        display: flex;
        align-items: center;
        border-radius: 10px;
      }
      .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .col-4 {
          width: 100%;
          .div {
            margin-top: 40px;
            .title {
              opacity: 75%;
              color: #647196;
              font-weight: 400;
              font-size: 16px;
            }
            .text {
              color: #3a4374;
            }
          }
        }
        .col-6 {
          width: 100%;
          .div2 {
            margin-top: 40px;
            .title {
              opacity: 75%;
              color: #647196;
              font-weight: 400;
              font-size: 16px;
            }
            .text:nth-child(1) {
              margin-top: 10px;
              font-weight: 400;
              font-size: 16px;
              line-height: 23px;
              color: #3a4374;
            }
            .text:nth-child(2) {
              margin-top: 10px;
              font-weight: 400;
              font-size: 15px;
              line-height: 22px;
              color: #3a4374;
            }
            .text:nth-child(3) {
              margin-top: 10px;
              font-weight: 400;
              font-size: 13px;
              line-height: 19px;
              color: #3a4374;
            }
          }
        }
      }
    }
  }
  .battonlar {
    width: 100%;
    .flex {
      padding: 40px 10% 40px 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; 
      .btnlar {
        // width: 25%;
        display: flex;
        align-items: center;
         flex-direction: column;
         .btn {
           cursor: pointer;
           width: 160px;
           height: 44px;
           border-radius: 10px;
           background: #ad1fea;
           outline: none;
           border: none;
           font-weight: 700;
           font-size: 14px;
           color: #ffffff;
           letter-spacing: 1px;
            margin: 20px 10px 20px 10px;
         }
        &:nth-child(2) .btn{
          background: #4661E6;
        }
        &:nth-child(3) .btn{
          background: #3A4374;
        }
        
        &:nth-child(4) .btn{
          background: #D73737;
        }
         .btn2 {
           cursor: pointer;
           width: 160px;
           height: 44px;
           border-radius: 10px;
           background: #C75AF6;
           outline: none;
           border: none;
           font-weight: 700;
           font-size: 14px;
           color: #ffffff;
           letter-spacing: 1px;
           margin: 20px 10px 20px 10px;
         }
         &:nth-child(2) .btn2{
          background: #7C91F9;
        }
        &:nth-child(3) .btn2{
          background: #656EA3;
        }
        
        &:nth-child(4) .btn2{
          background: #E98888;
        }
         span{
           text-align: center;
           color: #647196;
           opacity: 75%;
           font-size: 16px;
           font-weight: 400;
         }
      }
      
    }
    // aaaaaaa
    .flex2 {
      padding: 0px 10% 80px 10%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap; 
      .btnlar2 {
        // width: 25%;
        display: flex;
        align-items: center;
         flex-direction: column;
         .btn {
           cursor: pointer;
           width: 160px;
           height: 44px;
           border-radius: 10px;
           background: transparent;
           outline: none;
           border: 1px solid #ffffffab;
           font-weight: 700;
           font-size: 14px;
           color: #647196;
           letter-spacing: 1px;
            margin: 20px 10px 20px 10px;
         }
         &:nth-child(2) .btn{
           background: #373F68;
         }
         .btn2 {
           cursor: pointer;
           width: 160px;
           height: 44px;
           border-radius: 10px;
           background: transparent;
           
           outline: none;
           border: 1px solid #ffffffab;
           font-weight: 700;
           font-size: 14px;
           color: #647196;
           letter-spacing: 1px;
           margin: 20px 10px 20px 10px; 
           a{
            color: #647196;
           }
         }
         &:nth-child(2) .btn2{
          background: #373F68; 
        }
         span{
           text-align: center;
           color: #647196;
           opacity: 75%;
           font-size: 16px;
           font-weight: 400;
         }
      }
      
    }
  }  
  .el{
    width: 100%;
    .elem{
      padding: 20px 10% 10px 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .btnlar {
        // width: 25%;
        display: flex;
        align-items: center;
         flex-direction: column;
          margin-top: 20px;
        .btn{
          display: flex;
        align-items: center;
         flex-direction: column;
         font-weight: bold;
         cursor: pointer;
         border-radius: 10px;
         background: #e0e0e0;
         border: none;
         padding: 14px;
         outline: none;
          
         .icon{
           color:#4661E6 ;
         }
         .number{
           padding-top: 10px;
           font-size: 20px;
           color: #3A4374;
           font-weight: 700;
         }
        }
        &:nth-child(2) .btn{
          background: #CFD7FF;
          font-weight: bold;
        }
        &:nth-child(3) .btn{
          background: #4661E6;
          color: #fff;
          font-weight: bold;
          .number{
            color: #ffffff;
          }
          .icon{
            color: #ffffff;
          }
        }
        }
        .title{
          margin-top: 20px;
          text-align: center;
          color: #647196;
          opacity: 75%;
          font-size: 16px;
          font-weight: 400;
        }
        
    }
  }
  .frm{
    width: 100%;
    margin-bottom: 300px;
    .form{
      padding: 40px 10% 40px 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .frmlar{
        display: flex;
      align-items: center;
      flex-direction: column;
      }
      .title{
        margin-top: 15px;
        margin-bottom:10px;
        text-align: center;
        color: #647196;
        opacity: 75%;
        font-size: 16px;
        font-weight: 400;
      }
    }
  } 
}